<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.ukkosnetti.symprap" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QuestionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <service
            android:name=".service.AnswerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ReportsMainActivity"
            android:label="@string/title_activity_reports_main" >
        </activity>
        <activity
            android:name=".TextReportActivity"
            android:label="@string/title_activity_text_report" >
        </activity>
        <activity
            android:name=".DoubleReportActivity"
            android:label="@string/title_activity_double_report" >
        </activity>
        <activity
            android:name=".BooleanReportActivity"
            android:label="@string/title_activity_boolean_report" >
        </activity>
    </application>

</manifest>
